body {
  background-image: url("../images/background.jpg");
}
.planets {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
.planet {
  width: 80px;
  height: 100%;
}

.items {
  margin-top: 5px;
}

.pic {
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
}

.returnHome {
  background: #7a3838;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}