body {
  background-image: url("../images/background.jpg");
}
.planets {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
.planet {
  width: 80px;
  height: 100%;
}



.pic {
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
}