* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/vector.jpg");
}
/* Anime.js */
.ml1 {
  font-weight: 900;
  font-size: 3.5em;
  font-family:'chango';
 
}


.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }

/* end Anime.js */

.rockets {
  width: 150px;
  height: 150px;
  font-family: 'Oxanium', cursive;
  background-color: #295B5C;
}

.theRockets {
  display: inline-block;
  overflow: hidden;
  font-family: 'Oxanium', cursive;
  font-weight: bolder;
 
}

.col-sm-4 .planet {
  width: 90%;
  height: 150px;
  margin-left: 5px;
  font-family: 'Oxanium', cursive;
  font-weight: bolder;
}

h5 {
  text-align: center;
  font-family: 'Oxanium', cursive;
  
}

.col-sm-4 {
  padding: 0;
}

.items {
  margin-top: 5px;
}

.pic {
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
}

.returnHome {
  background: #295b5c;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  font-family: 'Oxanium', cursive;
}

.choices {
  margin-top: 5px;
  font-family: 'Oxanium', cursive;
}

.userChoice img {
  width: 90%;
  height: 90%;
  font-family: 'Oxanium', cursive;
}

.rocketChoice img {
  width: 90%;
  height: 200px;
  font-family: 'Oxanium', cursive;
  font-weight: bolder;

}

.ready, .newTrip {
  text-align: center;
  margin: 10px;
  /* background: #7a3838; */
  border-radius: 20px;
  background: #295b5c;
  font-size: 24px;
  font-family: 'Oxanium', cursive;
  
}
.card-header {
  font-family: 'Oxanium', cursive;
  background-color:#295B5C;
  color: white;
  font-weight: bold;
  font-size: larger;
  }
div a {
  text-decoration: none;
  color: #ffffff;
}
.jumbotron {
  background-color: silver; 
  opacity: 50%;
  text-align: center;
}

.launchInfo {
  background: #7a3838;
  color: #ffffff;
  margin: auto;
  width: 79%;
  
}

.gif {
  width: 33%;
  height: 50%;
  align-items: center;
}

.gifs {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.videoContainer {
  align-items: center;
}

.launchvideo {
  margin: auto;
}

iframe {
  margin: 0 auto;
  display: block;
  align-content: center;
  width: 79%;
  height: 500px;
}
